/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap'

$grayDark: #222222
$grayLight: #4F4F4F

@mixin delay($speed)
  transition-duration: $speed
  -moz-transition-duration: $speed
  -webkit-transition-duration: $speed
  -o-transition-duration: $speed

@mixin advert-image($size)
  img
    background-color: $grayLight
    @extend .img-rounded
    height: $size
    width: $size
    opacity: 0.9
    @include delay(.6s)
    &:hover
      border: 4px solid $grayDark
      @include delay(.4s)
      opacity: 1

#yield_block
  @extend .container
  margin-top: 5%
  margin-bottom: 6%

.center
  text-align: center

.avatar
  img
    @extend .img-circle

.show-user-advert-image
  @include advert-image(180px)

.show-advert-image
  @include advert-image(250px)

.edit-advert-image
  img
    background-color: $grayLight
    @extend .img-rounded
    height: 50px
    width: 50px
