$white: #fff
$grayDark: #222222
$grayLight: #4F4F4F

@mixin nav_font
  font: Geneva 'Times New Roman' 110% Times serif

@mixin top-nav-ul
  @include nav_font
  width: 20%
  float: right
  margin: 0.7% 0 0 0
  li
    list-style-type: none
    display: inline

#logo
  @include nav_font
  float: left
  color: #D3D3D3
  font-size: 1.7em
  font-weight: bold
  text-transform: uppercase
  text-decoration: none
  margin: 0.5% 0 0 1.5%
  &:hover
    color: $white

#top-nav-gravatar
  img
    margin: 0 0 3% 0

#top-nav-ul-signed
  @include top-nav-ul

#toggle-menu
  margin: 0 0 0 3%
  button
    margin-bottom: 10%
    font-size: 1.1em
    width: 80
    height: 30
    background-color: $grayDark
    border-radius: 8%
    color: $white
    border: 0
    &:hover
      background-color: $grayLight
  li
    display: list-item

#top-nav-ul-not-signed
  @include top-nav-ul
  font-size: 1.4em
  a
    color: rgb(210, 210, 210)
    text-decoration: none
    &:hover
      color: $white
  li
    margin-right: 8%
    display: inline
